@import "tailwindcss";

:root {
  --primary: #00d492;
  --primary-light: white;
  --primary-dark: #009966;
  --background: #222222;
  --background-light: #ffffff;
  --text: #f9fafb;
  --text-muted: #d1d5db;
}

body {
  font-family: "Electrolize", sans-serif;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  margin: 1.5rem 0 1rem;
}

a {
  text-decoration: none;
  color: var(--primary-light);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary);
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-dark);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
} */
@media (min-width: 640px) {
  .container {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
